dody {
    color: blue;
}


.navbar-nav ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navbar li:hover > ul{
    display: block;
}

.submenu1 li {
    position: relative;
}

.navbar li ul li ul {
    left: 140px;
    top: 0px;
}

.navbar li a:hover {
    background: rgba(184, 179, 179, 0.8);
    cursor: pointer;
    display: block;
}